# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# Env
.env
.env.local
.env.*.local
!.env.local.example

# Vercel
.vercel

# PWA
public/sw.js
public/workbox-*.js
public/worker-*.js
public/fallback-*.js

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts
